body {
  background-color: black; }

#page1, #page2, #page3, #page4 {
  position: relative;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 280px;
  margin-bottom: -410px; }

#page1 {
  padding-top: -250px;
  margin-top: -250px;
  margin-bottom: -290px;
  z-index: 5; }

.title-page {
  padding-top: 130px; }

#page2 {
  z-index: 4; }

#page3 {
  z-index: 3; }

#page4 {
  z-index: 2; }

.right-align {
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
  clear: both; }

.navbar {
  position: fixed; }

.navbar-toggler {
  background-color: white; }

.navigation {
  display: none; }

.cellphoneimage {
  width: 80%;
  height: auto;
  float: right;
  margin-right: -5%; }

.row img {
  height: 200px;
  margin: 10px; }

.row {
  display: flex;
  justify-content: center; }

.modal-content {
  padding: 40px;
  text-align: center;
  background-color: red; }

/* For desktop: */
@media only screen and (min-width: 480px) {
  .navbar-toggler {
    display: none; }
  #page2, #page3, #page4 {
    padding-top: 400px;
    padding-left: 100px; }
  .right-align {
    width: 60%;
    text-align: left;
    position: relative;
    float: right;
    clear: both; }
  .cellphoneimage {
    width: 80%;
    height: auto;
    float: right;
    margin-top: -30%;
    margin-right: -5%; }
  #page1 {
    padding-top: 0%;
    margin-top: 0px;
    margin-bottom: -290px; }
  .nav {
    margin-left: 30%; }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    text-align: center;
    position: fixed;
    margin-left: 10%; }
  .navigation a {
    color: black;
    font-size: 1.5em; }
  .navigation a:hover {
    color: red; } }
