@import "variables";

#page1, #page2, #page3, #page4, {
  height:1000px;
  background-repeat:no-repeat;
  background-position:top center;
  background-size:contain;
  margin-bottom: -15%;
}

#page1{
  height:1300px;
}

.navigation{
background-position:center;
background-size:cover;
   width:50%;
   height:100%;
   text-align:center;
   position:fixed;
   padding-top:20%;
   padding-left:2%;

}

.right-align{
  width:60%;
  text-align:center;
  position:relative;
  float: right;
  clear: both;
  padding-top:1%;

}
.title-page{
padding-top:10%;

}


.navigation a {
  color:black;
  font-size:2em;
}

.navigation a:hover {
  color:red;
}
